<footer class="text-bg-secondary rounded text-center">
    <p>Copyright 2023 | Myapp | tithitatithi@gmail.com</p>
</footer>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.min.js"></script>
</body>
</html>